# Django
SECRET_KEY=
DEBUG=
DJANGO_ALLOWED_HOSTS=


# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# Redis
REDIS_HOST=
REDIS_PORT=


CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
CELERY_TIME_ZONE=
CELERY_ENABLE_UTC=

# Email
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
DEFAULT_FROM_EMAIL=